* {
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* geral */
main {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
}


/* section */
main section {
    
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/* aside */
main aside img {
    width:100%;
    max-width: 100px;
    margin: 24px 8px;
}
main aside {
    background:#f1f1f1;
    padding-left: 14px;
    padding-right: 14px;
}
aside h4 {
    padding: 4px;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color:#ec6251;
    cursor: pointer;
}
aside h4.active {
    background: #ec6251;
    color: #fff;
}
aside ul.hide {
    display: none;
}
aside ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: square;
}
aside ul li {
    margin: 6px 0;
}
aside ul li.heading {
    background: #ec6251;
    color: #fff;   
}
aside ul li a {
    display: block;
    padding: 4px;
    font-size:14px;
    color:#999;
    text-decoration:none;
}
aside ul li a:hover,
aside h4:hover {
    background: #ec6251;
    color: #fff;
}

/* content */
.content {
    font-family: monospace;
    font-size: 18px;
}
.content header {
    margin: 24px 0;
}

.content header h1 {
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
}
.content header p {
    font-size: 21px;
    margin: 0;
}

.content article strong {
    display: block;
    color: #ec6251;
    text-transform: uppercase;
    font-size: 21px;
}

.content article strong::after {
    content: '';
    display: block;
    margin-top: 8px;
    width: 50px;
    height: 8px;
    background: #ec625155;
    border-radius: 50px;
}

.content article img {
    width: 100%;
    max-width: 800px;
    margin: 24px 0 48px;
    border-radius: 8px;
    box-shadow: 0 10px 12px #33333344;
    transition:all 300ms;
}
.content article img:hover {
    transform:scale(1.3);
}